@charset "UTF-8";
*{ margin:0; padding:0; }

html,body{
  font: 12px/150% Arial,Verdana;
  color: #666;
  background: #fff;
}
em, i, u{font-style: normal; }
ul, ol, li{ list-style: none; }
a, a:hover, a:visited{ color: #005EA7; text-decoration: none; }
img{ border: 0px; vertical-align: middle; }
.clearfix{}
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fl{float: left;}
.fr{float: right;}

.container{
  width: 1180px;
  margin:0 auto;
}

.product-intro{ position: relative;}

.preview-wrap{
  width:352px;
  float: left;
  padding-bottom: 15px;
}

/** 预览主图显示 */
.preview{ position: relative;zoom: 1;}
.preview .main-img{ border: 1px solid #eee; margin-bottom: 20px; padding:0px; position: relative;;}
.preview .main-img i{
  width:30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: url(../images/sprite-magnify.png)  no-repeat;
}
.preview .zoomdiv{
  left:352px;
}

/** 预览小图列表显示 */
.preview .spec-list{
  margin-bottom: 18px;
  position: relative;
  zoom: 1;
}

#spec-list{
  width: 290px;
  height: 54px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

#spec-list ul{
  position: absolute;
  min-width:290px;
  height: 54px;
  top: 0px;
  left: 0px;
  zoom: 1;
  overflow: hidden;
}

#spec-list ul li{
  float: left;
  margin: 0 2px;
}

#spec-list li img{
  border: 2px solid #fff;
}

#spec-list li:hover img, #spec-list li.img-hover img{
  border: 2px solid #e53e41;
}

.spec-list .arrow-prev, .spec-list .arrow-next{
  display: block;
  width:22px;
  height: 32px;
  float: left;
  position: absolute;
  cursor: pointer;
  top: 50%;
  margin-top: -16px;
}

.spec-list .arrow-prev .sprite-arrow-prev, .spec-list .arrow-next .sprite-arrow-next{
  width: 22px;
  height: 32px;
  background-image: url(../images/__sprite.png);
}
.spec-list .arrow-prev .sprite-arrow-prev{
  background-position: -30px 0;
}

.spec-list .arrow-next .sprite-arrow-next{
  background-position: 0 -30px;
}

.spec-list .arrow-prev i, .spec-list .arrow-next i{
  display: block;
}

.spec-list .arrow-prev{
  left: 0px;
}

.spec-list .arrow-next{
  right: 0px;
}

/** 预览辅助信息显示，关注及分享 */
.preview-info{
  height: 20px;
  line-height: 20px;
  text-align: left;
}

.preview-info .sku{
  float: left;
}

.preview-info .btns{
  margin-top: 0px;
  float: right;
}
.preview-info .btns a i{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.preview-info .btns .follow i{
  width: 14px;
  height: 13px;
  background-image: url(../images/__sprite.png);
  background-position: -52px -44px;
}
.preview-info .btns .share i {
  width: 15px;
  height: 14px;
  background-image: url(../images/__sprite.png);
  background-position: -52px -16px;
}

.itemInfo-wrap{
  width: 750px;
  float: left;
  margin-left: 30px;
}

/** 商品名称 */
.itemInfo-wrap .sku-name{
  font: 700 16px Arial,"microsoft yahei";
  color: #666;
  padding-top: 10px;
  line-height: 28px;
  margin-bottom: 5px;
}
.itemInfo-wrap .news{ color:#e4393c; margin-bottom: 5px; }
.itemInfo-wrap .news .item{
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  display: block;
  width: 100%;
}

/** 显示价格 */
.itemInfo-wrap .summary{ position: relative; padding-bottom: 5px; }
.itemInfo-wrap .summary-price-wrap{ padding: 10px 10px 10px 0px; background: #efefef;}
.itemInfo-wrap dl{ line-height: 22px; }
.itemInfo-wrap dt{ float: left; width:50px; padding-left: 10px; font-family: simsun; color: #999; }
.itemInfo-wrap dd{ margin-left: 70px;}
.summary-price span{ color: #e4393c; font-family: "microsoft yahei"; margin-right: 5px; overflow: hidden;}
.summary-price .currency{ font-size: 16px; }
.summary-price .num{ font-size: 22px; }

/** 库存及物流简述 */
.summary-stock{
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #dfdfdf;
}

.summary-stock .store-prompt{
  margin-right: 10px;
  color: #999;
  height: 24px;
  float: left;
}

.promise-icon .icon-list{
  display:inline-block;
  position: relative;
  height: 20px;
  overflow: hidden;
  float: left;
}

.promise-icon .title{
  margin-right: 10px;
}

.promise-icon ul{
  background-image: none;
  float: left;
  display: block;
}

.promise-icon ul li{
  float: left;
  margin-right: 10px;
}

/** 颜色选择样式 */
#choose-color{ line-height: 40px; }
.li .item{ float: left; color: #666; margin-right: 7px; margin-bottom: 4px; position: relative;}
.li .item a{ padding: 2px; border: 1px solid #ccc; display: block; white-space: nowrap;}
.li .item.selected a, .li .item:hover a{ padding: 1px; border: 2px solid #e4393c; color: #666; }
.li .item{ background-color: #f7f7f7; }
.li .item a i{ margin: 0 8px;}

.p-choose .item.selected b{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
  background: url(../images/shop-sprite.png) no-repeat -202px -224px;
}

.choose-btns{
  border-top: 1px dotted #dfdfdf;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px 10px 0;
}

/** 按钮组，购买数量，加入购物车等 */
.choose-btns .choose-amount{
  width: 49px;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
  margin: 8px 10px 0 0;
}
.choose-btns .choose-amount input{
  display: block;
  width: 31px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  top:1px;
  left: 0px;
  border: none;
  text-align: center;
}
.choose-btns .choose-amount a{
  display: block;
  width:15px;
  text-align: center;
  height: 17px;
  line-height: 17px;
  overflow: hidden;
  background: #f1f1f1;
  color: #666;
  position: absolute;
  right: -1px;
  border: 1px solid #ccc;
}
.choose-btns .choose-amount a.disabled {
  color: #ccc;
  cursor: not-allowed;
}
.choose-btns .choose-amount a.btn-reduce{
  bottom: -1px;
}
.choose-btns .choose-amount a.btn-add{
  top: -1px;
}
.choose-amount a.disabled{
  color: #ccc;
  cursor: not-allowed;
}
.choose-btns .choose-btn-append{
  width:137px;
  height: 38px;
}
.choose a{
  display: block;
  white-space: nowrap;
  text-decoration: none;
}
.choose-btns .choose-btn-append a{
  line-height: 38px;
}
.choose-btns .btn a b{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  cursor: pointer;
}
.choose-btns .btn a{
  float: left;
  margin-right: 6px;
  overflow: hidden;
}
.choose-btns .btn a{
  position: relative;
  font: 400 18px/38px "microsoft yahei";
  text-align: center;
  color: #e4393c;
}
.btn{
  height: 38px;
  line-height: 38px;
  margin-top: 8px;
  margin-bottom: 5px;
  float: left;
}
.btn-lg{
  height: 46px;
  line-height: 46px;
  padding: 0 26px;
  font-size: 18px;
  font-family: "microsoft yahei";
}
.btn-disable:hover {
  border-color: #ebebeb;
  color: #ccc;
}
.btn-disable {
  border: 1px solid #ebebeb;
  color: #ccc;
  background-color: #f7f7f7;
  cursor: not-allowed;
}

.choose-btns .btn-lg, .choose-btns .choose-amount{
  float: left;
  margin-right: 10px;
}
.choose-btns a{
  color: #fff;
}
.choose-btns a.btn-white{
  color:#e4393c;
}
.btn-red{
  background-color: #df3033;
  color: #fff;
}
.btn-white{
  background: #fff;
  border: 1px solid #e4393c;
  color: #e4393c;
}
.btn-green{
  background-color: #85c360;
  color:#fff;
}
.btn-red, .btn-green, .btn-white{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.btn-white:hover{
  color: #e4393c;
}
.btn-red:hover, .btn-green:hover{
  color: #fff;  
}
.btn-primary{
  height: 28px;
  line-height: 28px;
  padding: 0 16px;
  background-color: #df3033;
  color: #fff;
}

/** 购物车 */
.cart a{
  color: #666;
}
.cart a:hover, a:active{
  color:#e4393c;
}
.cart .header, .cart .footer, .cart .container{
  width: 990px;
  margin: 0 auto;
}
.cart .header {
  padding: 20px 0 40px;
  position: relative;
  height: 35px;
}
#logo{
  padding-left: 5px;
  float: left;
  position: relative;
  width: 270px;
  height: 35px;
  line-height: 35px;
}
#logo a{
  display: block;
  width: 100px;
  background: #fff;
}
#logo h1{
  color: #666;
  display: block;
}
.cart .search{
  float: right;
  border: 2px solid #df3033;
  background: #df3033;
  height: 35px;
  overflow: hidden;
}
.cart .search .searchKey{
  border: 0px;
  height: 30px;
  line-height: 30px;
  width: 300px;
  padding: 3px 15px;
  outline: 0;
}
.cart .search .button{
  display: inline-block;
  vertical-align: top;
  width: 88px;
  height: 35px;
  background: #e54346;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  -webkit-apperance: none;
  border: none;
  outline: none;
}
.cart .container{
  min-height: 400px;
}
.cart-filter-bar{
  overflow: hidden;
  font-size: 12px;
  position: relative;
} 
.switch-cart{
  overflow: hidden;
  height: 33px;
}
.btn-switch-cart{
  float: left;
  font-weight: 700;
  font-size: 16px;
  height: 16px;
  line-height: 1.1;
  font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
  text-align: center;
  padding: 0 0 15px 0;
  cursor: pointer;
  margin-left: -1px;
}
.btn-switch-cart a{
  padding-left: 15px;
}
.btn-switch-cart em{
  color: #f40;
}
.btn-switch-cart .number{
  color: #f40;
  font-size: 14px;
  margin: 0 30px 0 5px;
  font-weight: 400;
}
.cart-filter-bar .cart-sum{
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  line-height: 25px;
}
.cart-sum .price{
  color: #f40;
  font-family: Arial,Verdana;
  font-weight: 700;
  margin-right: 5px;
}
.cart-sum .price em{
  font-family: Verdana,Arial;
  padding-left: 2px;
  font-weight: 700;
}
.total-symbol{
  font-size: 12px;
  font-weight: 400;
}
.cart-sum .submit-btn{
  display: inline-block;
  width: 55px;
  color: #fff;
  background: #e54346;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.cart-sum a.submit-btn:hover{
  color: #fff;
}
.wrap-line{
  clear: both;
  background: #e6e6e6;
  height: 2px;
  position: relative;
}
.wrap-line .floater{
  background: #f40;
  height: 2px;
  width: 123px;
  position: absolute;
  top: 0;
  left: -1px;
  overflow: hidden;
}
.cart-main{
  min-height: 210px;
}
.cart-thead{
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 0 0 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-top: 0;
  overflow: hidden;
}
.cart-thead {
  width: 990px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.cart-main .col{
  float: left;
}
.cart-tbody .cell{
  float: left;
  padding: 15px 0 10px;
}
.cart-tbody .item-item .p-checkbox{
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 0;
  width: 30px;
  min-height: 10px;
  _height:10px;
}
.cart-main .cart-thead .t-checkbox{
  height: 32px;
  line-height: 32px;
  width: 122px;
  padding-left: 11px;
}
.cart-checkbox{
  position: relative;
  z-index: 3;
  float: left;
  margin-right: 5px;
}
.cart-main .checkbox{
  float: none;
  position: relative;
  z-index: 5;
  vertical-align: middle;
  _vertical-align:-1px;
  margin:0 3px 0 0;
  padding: 0;
}
.cart-checkbox label{
  display: none;
}
.cart-item-list .cart-tbody{
  display: block;
}
.cart-tbody .p-props{
  padding-right: 20px;
}
.cart-tbody .p-price{
  color: #9c9c9c;
}
.cart-tbody .p-sum{
  color: #f40;
  font-weight: 700;
  text-align: center;
}
.cart-tbody .p-ops{
  padding: 0 0 0 15px;
}
.cart-main .cart-thead .t-goods{
  width: 208px;
}
.cart-main .p-goods{
  width: 300px;
}
.cart-main .cart-thead .t-props{
  width: 140px;
  height: 32px;
  padding: 0 20px;
}
.cart-tbody .p-props{
  width: 160px;
}
.cart-main .cart-thead .t-amount, .cart-tbody .p-amount{
  width: 80px;
  text-align: right;
}
.cart-main .cart-thead .t-amount{
  text-align: center;
}
.cart-main .cart-thead .t-sum{
  text-align: center;
}
.cart-main .cart-thead .t-price, .cart-tbody .p-price{
  width: 120px;
  padding-right: 40px;
  text-align: right;
}
.cart-main .cart-thead .t-sum, .cart-tbody .p-sum{
  width: 100px;
}
.cart-main .cart-thead .t-ops, .cart-tbody .p-ops{
  width: 75px;
}
.cart-main .cart-thead .t-ops{
  text-align: center;
}
.cart-tbody .p-ops a{
  display: block;
}
.cart-tbody .p-price strong{
  display: block;
  color: #333;
  font-weight: 400;
}
.cart-item-list{
  margin-bottom: 20px;
}
.cart-tbody .shop{
  height: 30px;
  line-height: 30px;
  padding-left: 11px;
}
.cart-checkbox{
  position: relative;
  z-index: 3;
  float: left;
  margin-right: 5px;
}
.cart-main .checkbox, .cart-main .radio{
  float: none;
  position: relative;
  z-index: 5;
  vertical-align: middle;
  _vertical-align:-1px;
  margin: 0 3px 0 0;
  padding: 0;
}
.cart-checkbox label{ display: none;}
.cart-tbody .shop .shop-txt{
  float: left;
  width: 538px;
  _width:530px;
  color: #000;
}
.cart-tbody .shop .extra{
  float: right;
  font-weight: 400;
}
.item-list{
  border-style: solid;
  border-width: 2px 1px 1px;
  _border-width: 1px;
  border-color: #aaa #f1f1f1 #f1f1f1;
  background: #fff;
}
.item-list .item-item{
  position: relative;
  padding: 0 10px 1px 40px;
  line-height: 20px;
  _height:116px;
  background: #fcfcfc;
  border: 0;
}
.cart-tbody .shop-icon{
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.cart-tbody .item-list .item-form{
  border-top: 1px solid #f1f1f1;
  display: inline-block;
}
.cart-tbody .item-item .p-checkbox{
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 0;
  width: 30px;
  min-height: 10px;
  _height:10px;
}
.cell-inner{
  padding-top: 20px;
  _zoom:1;
}
.cart-tbody .p-amount{
  float: left;
  min-height: 119px;
  _height:119px;
  overflow: hidden;
  _overflow:visible;
  _zoom:1;
}
.cart-tbody .item-pic{
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  float: left;
  overflow: hidden;
  background: #fff;
}
.cart-tbody .img-loaded{
  background: #fff;
}
.cart-tbody .item-pic a{
  display: table-cell;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
}
.cart-tbody .item-pic img{
  max-height: 80px;
  max-width: 80px;
  vertical-align: middle;
}
.cart-tbody .item-info{
  margin: -3px 0 0 91px;
  padding-right: 25px;
}
.cart-tbody .item-info .item-basic-info{
  min-height: 40px;
}
.cart-tbody .item-info a{
  font-size: 12px;
  display: block;
  max-height: 36px;
  overflow: hidden;
  text-overflow:ellipsis;
  _height:expression(this.scrollHeight > 36 ? "36px" : "auto");
}
.cart-tbody .item-props{
  padding: 16px 0;
  min-height: 84px;
  _height:84px;
  border: 1px dashed transparent;
  position: relative;
  _border-color:#eef6ff;
}
.cart-tbody .item-props .sku-line{
  margin: 0 5px 0 15px;
  color: #9c9c9c;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-tbody .p-price .price-content{
  padding: 8px 0 0 10px;
  line-height: 1;
  width: 74px;
}
.cart-tbody .p-price .price-line{
  padding: 0 0 4px 0;
}
.cart-tbody .p-price .price-original{
  color: #9c9c9c;
  text-decoration: line-through;
  font-family: Verdana,Tahoma,arial;
}
.cart-tbody .p-price .price-now{
  color: #3c3c3c;
  font-weight: 700;
  font-family: Verdana,Tahoma,arial;
}
.cart-tbody .p-amount .item-amount{
  height: 25px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 77px;
}
.cart-tbody .p-amount a{
  display: block;
  height: 23px;
  line-height: 23px;
  width: 17px;
  border: 1px solid #e5e5e5;
  background: #f0f0f0;
  text-align: center;
  color: #444;
  position: absolute;
  top:0;
}
.cart-tbody .item-amount a, .cart-tbody .text-amount{
  float: left;
}
.cart-tbody .item-amount .minus{
  border: 1px solid #cacbcb;
  left: 0;
}
.cart-tbody .item-amount .plus{
  border: 1px solid #cacbcb;
  right: 0;
}
/*.cart-tbody .item-amount .minus:hover, .cart-tbody .item-amount .plus:hover{
  border: 1px solid #f40;
}*/
.cart-tbody .item-amount .text-amount{
  width: 39px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #cacbcb;
  text-align: center;
  color: #343434;
  padding: 4px 0;
  background: #fff;
  position: absolute;
  z-index: 2;
  left: 18px;
  top:0;
  outline: 0;
}
.float-bar-wrapper{
  height: 50px;
  border: 1px solid #f0f0f0;
  background: #fff;
  position: relative;
}
.cart-floatbar .select-all{
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 16px 0 16px 9px;
  white-space: nowrap;
}
.cart-floatbar .operations{
  float: left;
  height: 50px;
  width: 310px;
  line-height: 50px;
}
.cart-floatbar .operations a {
  float: left;
  margin-left: 10px;
  color: #666;
}
.float-bar-right{
  position: absolute;
  height: 50px;
  right: 0;
  top: -1px;
  width: 610px;
}
.float-bar-right .amount-sum{
  float: right;
  color: #999;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.float-bar-right .amount-sum em{
  color: #e4393c;
  font-family: verdana;
  font-weight: 700;
  margin: 0 3px;
}
.float-bar-right .price-sum{
  float: right;
  height: 50px;
  line-height: 50px;
  color: #666;
  width: auto;
  position: relative;
  text-align: center;
  padding-right: 20px;
}
.float-bar-right .price-sum .txt {
  float: left;
  width: 50px;
  text-align: right;
  color: #999;
}
.float-bar-right .price-sum .totalPrice em{
  font-size: 16px;
  color: #e4393c;
  font-weight: 700;
}
.float-bar-right .btn-area{
  float: right;
}
.float-bar-right .btn-area .submit-btn{
  display: block;
  position: relative;
  width: 96px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  background: #e54346;
  overflow: hidden;
}
.cart-empty{
  height: 98px;
  padding: 80px 0 120px;
  display: inline-block;
}

.cart-empty .message{
  height: 98px;
  line-height: 98px;
  padding-left: 10px;
}

.cart-empty .icon{
  width:60px;
  height:60px;
  background: url(../images/shop-sprite.png) 0px 0px no-repeat;
}

.cart-empty .icon, .cart-empty .message{
  display: inline-block;
  vertical-align: middle;
}

/** 多图片左右滚动组件 */
.image-player>a{
  position: absolute;
  top: 50%;
  margin-top: -60px;
  z-index: 1;
  display: block;
  width: 40px;
  height: 100px;
  line-height: 100px;
  background: rgba(0,0,0,.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);
  color: #999;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  font-family: simsun;
}
.image-player .arrow-prev{
  left: 0px;
}
.image-player .arrow-next{
  right: 0px;
}

/** 通用面板组件 */
.m{
  padding: 0 9px;
  border: 1px solid #ddd;
  border-top: 2px solid #999;
}
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt{
  overflow: hidden;
  zoom:1;
}
.m, .sm{
  margin-bottom: 10px;
}
.mt, .smt{
  cursor: default;
}
.mt{
  height: 30px;
  line-height: 30px;
}
.mt .title{
  width: 50%;
  float: left;
  font-weight: 400;
}
.mt h2, .smt h3{
  font-family: "microsoft yahei";
  font-size: 14px;
}
.mt .extra{
  float: right;
  display: inline;
  font-weight: 400;
}
.mt .extra{
  width:50%;
  float: right;
  text-align: right;
}
.mc{
  position: relative;
  min-height: 120px;
  overflow: hidden;
}

/** 猜你喜欢 */
#recommend .mc{
  height: 246px;
}
.recommend-scroll{
  position: relative;
  width: 1100px;
  height: 231px;
  overflow: hidden;
  margin-left: 45px;
}
.recommend-scroll .recommend-list{
  position: absolute;
  min-width: 200px;
  height: 231px;
  top: 0px;
  left: 0px;
  padding-top: 15px;
}
.recommend-list li{
  float: left;
  margin: 0!important;
  margin-right: 20px!important;
  text-align:center;
  position: relative;
  background-color: #fff;
}
.p-img{
  padding: 5px 0;
}
.p-price{
  color: #e3393c;
}
.p-img, .p-price, .p-name{
  overflow: hidden;
  position: relative;
}
.p-name{
  word-break: break-all;
  word-wrap: break-word;
}
.recommend-list .p-img{
  width: 175px;
  height: 170px;
  box-sizing:border-box;
}
.recommend-list .p-name{
  position: absolute;
  top: 172px;
  height: 45px;
  background: #efefef;
  padding: 0 10px;
  -webkit-transition: top .5s;
  -o-transition: top .5s;
  transition: top .5s;
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.recommend-list .p-name a, .recommend-list .p-name a:hover{
  color: #000;
  display: block;
  height: 34px;
  padding-top: 5px;
  line-height: 19px;
  text-align: left;
}
.recommend-list li:hover .p-name{
  top: 122px;
}
.recommend-list li:hover{
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.recommend-list .p-price{
  color: #e3393c;
  padding-top: 5px;
  font: 20px/20px Verdana;
}

/** 我的足迹 */
.history-view-list{
  padding-top: 14px;
}
.history-view-list li{
  margin: 0 2px 0 3px;
  width: 86px;
  float: left;
  padding-bottom: 14px;
  text-align: center;
  border: 1px solid #fff;
}
.extra .change{
  display: inline-block;
}
.extra .change .refresh-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url(../images/update.png) no-repeat;
}
.extra .change .refresh-icon, .extra .change .txt{
  display: inline-block;
  vertical-align: middle;
}

/** TAB插件 */
.tab-main{
  position: relative;
  overflow: visible;
  z-index: 2;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-bottom: 1px solid #e4393c;
  display: block;
}

.tab-main.detail-top-fixed{
  position: fixed;
  top: 0px;
  z-index: 30;
  width: 1180px;
}

.tab .tab-header{
  margin-top: -1px;
}

.tab .tab-header li{
  padding: 10px 25px;
  font-size: 14px;
  position: relative;
  display: inline-block;
  font-family: "microsoft yahei";
  cursor: pointer;
}

.tab .tab-header li.current{
  background-color: #e4393c;
  color: #fff;
  cursor: default;
}

.tab .extra{
  position: absolute;
  top: 0;
  right: 0;
}

.tab .extra .addcart-mini{
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.tab .extra .addcart-mini a{
  padding: 8px 15px;
  color: #fff;
}

.tab .extra .addcart-mini a:hover{
  color: #fff;
}

.tab .tab-body{
  padding: 10px 0;
  overflow: hidden;
}

.tab ul.attrs-list{
  padding: 20px 0 15px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.tab ul.attrs-list li{
  width: 200px;
  padding-left: 42px;
  float: left;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

/** 售后服务 */
.tab-body .item{
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.tab-body .item .panel-header{
  position: relative;
  padding: 10px;
  zoom: 1;
  background-color: #f7f7f7;
  border: 1px solid #eee;
}

.tab-body .item .panel-header h3{
  font: 700 14px "microsoft yahei";
}

.tab-body .item .extra{
  padding: 10px;
  width: 50%;
  float: right;
  text-align: right;
  display: inline-block;
  font-weight: 400;
  height: 100%;
}

.tab-body .item-detail{
  padding: 0 10px;
  line-height: 180%;
}

.item-detail .service-agree{
  padding: 20px 20px 20px 62px;
}

.item-detail .service-agree dt{
  display: block;
  height: 32px;
  line-height: 32px;
  margin-left: -42px;
  font-size: 16px;
  color: #e4393c;
  font-family: "microsoft yahei";
}

.item-detail .service-agree dd{
  display: block;
  padding: 10px 0 30px;
  line-height: 18px;
}

/** 侧边栏导航条 */
.toolbar-wrap{
  position: fixed;
  _position: absolute;
  top: 0;
  right: 0;
  z-index: 9990;
  width: 0;
  height: 100%;
}
.toolbar{
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-right: 6px solid #7a6e6e;
  -webkit-transition: right .3s ease-in-out 0s;
  -o-transition: right .3s ease-in-out 0s;
  transition: right .3s ease-in-out 0s;
}
.toolbar-footer{
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: -29px;
}
.toolbar-tabs{
  position: absolute;
  top: 50%;
  left: -29px;
  width: 35px;
  margin-top: -61px;
}
.toolbar-tab{
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #7a6e6e;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.toolbar-tab .tab-ico{
  width: 34px;
  height: 35px;
  margin-left: 1px;
  position: relative;
  z-index: 2;
  background-color: #7a6e6e;
  _display:block;
}
.toolbar-tab .tab-ico, .toolbar-panel-header i, .toolbar-panel-header .close-panel{
  display: inline-block;
  background-image: url(../images/toolbars.png);
  background-repeat: no-repeat;
}
.toolbar-tab-hover, .toolbar-tab-hover .tab-ico{
  background-color: #c81623;
}
.toolbar-tab-hover a .tab-text{
  left: -60px;
  background-color: #c81623;
  _display:block;
}
.toolbar-tab-history .tab-ico{
  background-position: -50px -100px;
}
.toolbar-tab-vip .tab-ico{
  background-position: -88px -175px;
}
.toolbar-tab-cart .tab-ico{
  background-position: -50px -0px;
}
.toolbar-tab-coupon .tab-ico{
  background-position: -190px -100px;
}
.toolbar-tab-follow .tab-ico{
  background-position: -50px -50px;
}
.toolbar-tab-message .tab-ico{
  background-position: -190px -150px;
}
.toolbar-tab-top .tab-ico{
  background-position: -50px -250px;
}
.toolbar-tab-feedback .tab-ico{
  background-position: -50px -300px;
}
.toolbar-tab .tab-text{
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  font-family: "microsoft yahei";
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 0px;
  background-color: rgb(122,110, 110);
  border-radius: 3px 0px 0px 3px;
  -webkit-transition: left 0.3s ease-in-out 0.1s;
  -o-transition: left 0.3s ease-in-out 0.1s;
  transition: left 0.3s ease-in-out 0.1s;
}
.toolbar-tab .tab-sub{
  position: absolute;
  z-index: 3;
  right: 2px;
  top: -5px;
  height: 11px;
  padding: 1px 2px;
  border: 1px solid #b61d1d;
  overflow: hidden;
  color: #fff;
  font: 11px/11px verdana;
  text-align: center;
  min-width: 11px;
  _width:20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-radius:0\9;
  background-color: #cc6060;
  background-image: -moz-linear-gradient(top,#cc6060,#b61d1d);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#cc6060),color-stop(1,#b61d1d));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6060', endColorstr='#b61d1d', GradientType='0');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6060', endColorstr='#b61d1d');
  background-image: linear-gradient(to bottom,#cc6060 0,#b61d1d 100%);
}
.tab-sub{
  overflow: hidden;
  padding: 8px 0;
  zoom: 1;
}
.hide{
  display: none;
}
.toolbar-open .toolbar-panels{
  _display:block;
}
.toolbar-panels{
  position: absolute;
  left: 6px;
  _left: 6px;
  top: 0;
  width:270px;
  height: 100%;
  z-index: 2;
  background: #eceaea;
  _display:none;
}
.toolbar-panel{
  width: 270px;
  height: 100%;
  position: absolute;
  background: #eceaea;
  visibility: hidden;
}
.toolbar-panel-header{
  position: relative;
  width: 270px;
  height: 40px;
  line-height: 40px;
  background: #eceaea;
}
.toolbar-panel-header .title{
  display: inline-block;
  height: 40px;
  color: rgb(94,80,80);
  font:16px/40px 微软雅黑;
}
.toolbar-panel-vip .toolbar-panel-header i{
  width: 18px;
  height: 19px;
  margin-top: 10px;
  background-position: -94px -211px;
}
.toolbar-panel-header i{
  margin-right: 4px;
  margin-left: 10px;
  vertical-align: top;
}
.toolbar-panel-header em{
  display: inline-block;
  vertical-align: top;
}
.toolbar-panel-main{
  position: relative;
}
.toolbar-panel-content{
  width: 270px;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
.toolbar-panel-header .close-panel{
  position: absolute;
  width: 12px;
  height: 12px;
  background-position: 0 -250px;
  right: 8px;
  top: 16px;
  cursor: pointer;
  -webkit-transition: transform .2s ease-out 0s;
  -moz-transition: transform .2s ease-out 0s;
  transition: transform .2s ease-out 0s;
}

@-webkit-keyframes toolbar-scaleIn{
  from{
    opacity:.7;
    -webkit-transform:translateX(270px);
    -moz-transform:translateX(270px);
    transform:translateX(270px)
  }
  to{
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);
    transform:translateX(0px)
  }
}
@-ms-keyframes toolbar-scaleIn{
  from{
    opacity:.7;
    -webkit-transform:translateX(270px);
    -moz-transform:translateX(270px);
    transform:translateX(270px)
  }
  to{
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);
    transform:translateX(0px)
  }
}

@-moz-keyframes toolbar-scaleIn{
  from{opacity:.7;-webkit-transform:translateX(270px);-moz-transform:translateX(270px);transform:translateX(270px)}
  to{-webkit-transform:translateX(0px);-moz-transform:translateX(0px);transform:translateX(0px)}
}

@keyframes toolbar-scaleIn{
  from{opacity:.7;-webkit-transform:translateX(270px);-moz-transform:translateX(270px);transform:translateX(270px)}
  to{-webkit-transform:translateX(0px);-moz-transform:translateX(0px);transform:translateX(0px)}
}
@-webkit-keyframes toolbar-scaleOut{
  to{opacity:.5;-webkit-transform:scale(0.7) translateX(270px);-moz-transform:scale(0.7) translateX(270px);transform:scale(0.7) translateX(270px)}
}
@-ms-keyframes toolbar-scaleOut{
  to{opacity:.5;-webkit-transform:scale(0.7) translateX(270px);-moz-transform:scale(0.7) translateX(270px);transform:scale(0.7) translateX(270px)}
}
@-moz-keyframes toolbar-scaleOut{
  to{opacity:.5;-webkit-transform:scale(0.7) translateX(270px);-moz-transform:scale(0.7) translateX(270px);transform:scale(0.7) translateX(270px)}
}
@keyframes toolbar-scaleOut{
  to{opacity:.5;-webkit-transform:scale(0.7) translateX(270px);-moz-transform:scale(0.7) translateX(270px);transform:scale(0.7) translateX(270px)}
}
.toolbar-animate-in{-webkit-animation:toolbar-scaleIn .35s ease-in-out;-moz-animation:toolbar-scaleIn .35s ease-in-out;animation:toolbar-scaleIn .35s ease-in-out}
.toolbar-animate-out{-webkit-animation:toolbar-scaleOut .35s ease-in;-moz-animation:toolbar-scaleOut .35s ease-in;animation:toolbar-scaleOut .35s ease-in}